body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fields-padding {
    padding-top: 3px;
    padding-bottom: 3px;
}
.details-header {
    padding-top: 5px;
    padding-bottom: 5px;
    color: grey;
    border-bottom: 1px solid;
}

.edit-panel {
    border: 1px solid #dfedf1;
    padding: 5px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.right-side {
    float: right;
    right: 2%;
}
.selected-row > td {
    background: #c4e2ff !important;
    border-color: #c4e2ff !important;
}