body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fields-padding {
    padding-top: 3px;
    padding-bottom: 3px;
}
.details-header {
    padding-top: 5px;
    padding-bottom: 5px;
    color: grey;
    border-bottom: 1px solid;
}

.edit-panel {
    border: 1px solid #dfedf1;
    padding: 5px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.right-side {
    float: right;
    right: 2%;
}
.selected-row > td {
    background: #c4e2ff !important;
    border-color: #c4e2ff !important;
}

.page-title {
    text-align:center;
    font-size: 25px;
    color: white;
    padding-top:10px;
}

.jsgrid {
    font-size: 12px !important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.no-text-decoration {
    text-decoration: none !important;
    color: white !important;
    height: 35px;
}

.logout-button {
    top: 7px!important;
}

.notification-list {
    height: 200px;
    overflow-y: scroll;
}

.modal-dialog-width {
    width: 50%!important;
}

.notification-bell-border {
    border: 1px solid white;
    background-color: #f0ad4e!important;
}