@{
    ViewBag.Title = "Editare inregistrare";
    var emailRegex = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$";
}

<form id="saveRecord" name="saveRecord" class="edit-panel" onsubmit="editClientController.validateAndSaveClient();">
    <div id="generalInformation">
        <h3 class="details-header">Informatii generale client</h3>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Nume client</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="Nume client" id="name" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="email" placeholder="Email" type="email" pattern="@emailRegex" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Numar telefon</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="phoneNumber" type="tel" maxlength="10" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="saveButtons">
        <div class="col-sm-6 col-lg-6 col-md-6"></div>
        <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="btn-group right-side">
                <button type="submit" id="btnSaveRecord" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Salvare</button>
                <button type="button" onclick="editClientController.cancelEdit();" id="btnCancelSaveDrive" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove"></span> Anulare</button>
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/Pages/editClientController.js"></script>